<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>



<form action="/organizer" method="post">
    VoterIDs: <input type="text" name="VIDs" value="default" /><br><br>
    <input type="submit" value="OK">
</form>



</head>
<body><!-- Your web--></body>
</html>