<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>


<script type="text/javascript" src="jquery-3.3.1.js"></script>

<form id="VIDForm" target='_blank' action='/vid' method='post'>
    IDs of those who can Vote (Space-Separated): <input type="text" name="vids" /><br><br>
    <input type="submit" value="OK">
</form>
<form id="NIDForm" target = '_blank' action='/nid' method='post'>
    IDs of those who can Not Vote (Space-Separated): <input type="text" name="nids" /><br><br>
    <input type="submit" value="OK">
</form>



</head>
<body><!-- Your web--></body>
</html>